name: Deploy to Amazon EC2
on:
  push:
    branches: [ "dev" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: today-book/gateway-dev
  VERSION: latest

jobs:
  Deploy:
    name: Build Docker Image and Deploy EC2
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write
    environment: deploy

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK # JDK 지정
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Build container image
        run: |
          IMAGE=$REGISTRY/$IMAGE_NAME:$VERSION
          chmod +x gradlew
          ./gradlew bootJar
          docker build -t $IMAGE .
          echo "IMAGE_URI=$IMAGE" >> $GITHUB_ENV

      - name: Log into container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish container image
        run: docker push ${{ env.IMAGE_URI }}

      - name: Executing remote ssh commands
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.DEV_REMOTE_IP }}
          username: ${{ secrets.DEV_REMOTE_USER }}
          key: ${{ secrets.DEV_REMOTE_PRIVATE_KEY }}
          port: ${{ secrets.DEV_REMOTE_SSH_PORT }}
          script: |
            echo "--- 배포 시작 ---"
            sudo docker stop gateway || true
            sudo docker rm gateway || true
            sudo docker rmi ${{ env.IMAGE_URI }} || true
            
            echo "GHCR 로그인"
            echo ${{ secrets.GITHUB_TOKEN }} | sudo docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
            echo "이미지 Pull"
            sudo docker pull ${{ env.IMAGE_URI }}
            
            sudo docker run -d --name gateway -p 9000:9000 \
            -e SPRING_PROFILES_ACTIVE=dev \
            -e KAKAO_CLIENT_ID=${{ secrets.KAKAO_CLIENT_ID }} \
            -e KAKAO_CLIENT_SECRET=${{ secrets.KAKAO_CLIENT_SECRET }} \
            -e JWT_SECRET=${{ secrets.JWT_SECRET }} \
            -e JWT_EXPIRATION=${{ secrets.JWT_EXPIRATION }} \
            ${{ env.IMAGE_URI }}
            
            echo "--- 배포 완료 ---"